#main {
    background: linear-gradient(300deg, #eb7514,#e65e4c, #81dcd4);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
    width: 95%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
}
  
.top  {
    text-align: center;
}
.container {
    width: 75%;
    margin: auto;
}
.quote {
    text-align: center;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-style: normal;

}
.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.blue {
    display: block;
  margin-left: auto;
  margin-right: auto;
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;

    min-width: 20px;
    max-width: 310px;
    width: 100%;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
.blue * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
.blue img {
    max-width: 65%;
    margin: 40px auto;
    display: block;
    position: relative;
    border: 3px solid #666666;
    padding: 15px 15px 85px 15px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
.blue figcaption {
    position: absolute;
    height: 120px;
    bottom: 0px;
    left: 0;
    right: 0;
    display: block;
  }
  
.blue h3 {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.7em;
    width: 100%;
    padding: 5px 12px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
  }
  
 .blue h3 span {
    font-weight: 800;
  }
  
.blue h4 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    opacity: 0.6;
    font-size: 1.1em;
  }
  
.blue img {
    border-color: #2472a4;
  }
  
.blue h3,
  figure.snip1113.blue h4 {
    color: #2472a4;
  }
  
  

.head   {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style:double;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 5px;
}

.intro  {
    font-size:larger;
}
.hobbies {
text-align: center;
font-family: "Dancing Script", cursive;
font-optical-sizing: auto;
font-weight:bolder;
font-style: normal;
font-size: larger;
padding: 30PX;
}


.container > h2 {
    padding-top: 20px;
}
body {
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    font-family: 'Roboto Mono', monospace;
  }
  
  .wave {
    float: left;
    margin: 0px;
    animation: wave  ease-in-out 0.5s infinite alternate;
    transform-origin: center -36px;
  }
  
  .wave:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .wave img {
    border: 5px solid #f8f8f8;
    display: block;
    width: 100px;
  
  }
  
  .wave figcaption {
    text-align: center;
  }
  
  .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 1.5px solid #ffffff;
    top: -10px; 
    left: 50%;
    border-bottom: none;
    border-right: none;
    transform: rotate(35deg);
  }
         
  .wave:before{
    content: '';
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
  }
          
  @keyframes wave {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
  }
  
  
  
.flex-container {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
    max-width: 1000px;
    margin: 0 auto;
    display: flex; 
   

}
.flex-image {
    
    display: flex;
    width:100%;
    padding: 0px;
}
.text{
    text-align:center;
    padding: 10px;
  } 
.image-container    {
    width: 100%;
   margin: 0 auto;
   text-align: center;
   padding: 10px
}

img {
    width: 100%;
}
h3  {
    text-align: center;
    padding-top: 30px;
}
.contact {
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
footer {
    text-align: center;
    padding-top: 15px;
    font-size: x-small;
}
.logo {
    width:16px;
    height:16px;
    
}
.hobby-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
    margin: auto;
}

.hobby-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hobby-container > div {
  flex: 1 1 210px;
}

.hobby {
  display: block;
margin-left: auto;
margin-right: auto;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;

  min-width: 20px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.hobby * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hobby img {
  max-width: 100%;
  margin: 20px auto;
  display: block;
  position: relative;
  
  padding: 10px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hobby figcaption {
  position: absolute;
  height: 100px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

h3 {
 
  color: #000000;
  font-size: 1.em;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 300;
}

.h3 span {
  font-weight: 200;
}

.hobby h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}




@media (max-width:320px)  {

    .container { 
        width: 90%;
        text-align: left;
        font-size:smaller; 
    }
    .container > h2 {
        text-align: center;
    }
    
    .flex-container {
        max-width: 100%;

        display: flex;
    
    }
    .flex-image {
        display: flex;
        width:100%;
        padding:0px;
    }
    .image-container    {
        width: 100%;
       margin: 0 auto;
       padding: 5px;
    }
    img {
        width: 90%;
    }
    .logo {
        display: flex;
        width:100%;
        padding:0px;
    }
    
}
 @media (min-width:320px)  {
    .me{
        width:50%; 
    }
    .container { 
        width: 90%;
        text-align: center;
        font-size:15px; 
    }
    .flex-container {
        max-width: 100%;

        display: flex;
    
    }
    .flex-image {
        display: flex;
        width:100%;
        padding:0px;
    }
    .image-container    {
        width: 100%;
       margin: 0 auto;
       padding: 8px;
    }
    img {
        width: 80%;
    }
    .logo {
        display: flex;
        width:100%;
        padding:0px;
    }
}
 @media (min-width:481px)  {
    .me{
        width:50%;
    }
    .quote {
        font-size: 25px;
    }
    .container { 
        width: 90%;
        text-align: center;
       
       font-size:medium; 
    }
    .flex-container {
        max-width: 85%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:85%;
        margin: 0 auto;
        padding: 0px;
    }
img {
        width: 100%;
        
    }
   
}
 
 @media (min-width:641px)  {
    .head {
        font-size:3rem ;
    }
    .subhead {
        font-size: 2rem;
    }
    .me{
        width:40%;
    }
    .quote {
        font-size: 25px;
    }
    .container { 
        width: 80%;
        text-align: center;
       
       font-size:medium; 
    }
    .flex-container {
        max-width: 90%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:80%;
        margin: 0 auto;
        padding: 20px;
    }
img {
        width: 100%;
        
    }
    .logo {
        display: flex;
        width:100;
    }

    
    
    
 }

 @media (min-width:961px)  { 
    .head {
        font-size:4rem ;
    }
    .me{
        width:35%;
    }
    .quote {
        font-size: 30px;
    }
    .container { 
        width: 90%;
        text-align: center;
       
       font-size:larger; 
    }
    .flex-container {
        max-width: 80%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:80%;
        margin: 0 auto;
        padding: 20px;
    }
img {
        width: 90%;
        
    }
    .logo {
        display: flex;
        width:100;
    }
}
@media (min-width:1025px) { 
    
    .head {
        font-size:4rem ;
    }
    .me{
        width:30%;
    }
    .quote {
        font-size: 30px;
    }
    .container { 
        width: 85%;
        text-align: center;
       
       font-size:larger; 
    }
    .flex-container {
        max-width: 70%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:80%;
        margin: 0 auto;
        padding: 20px;
    }
img {
        width: 90%;
        
    }
    .logo {
        display: flex;
        width:100;
    }
    
 }
@media (min-width:1281px) { 
    .head {
        font-size:4rem ;
    }
    .me{
        width:30%;
    }
    .container { 
        width: 80%;
        text-align: center;
       
       font-size:larger; 
    }
    .flex-container {
        max-width: 70%;
        display: flex;
        margin: 0 auto;
        padding: auto;
        
    
    }
    .flex-image {
        display: flex;
        width:80%;
        margin: 0 auto;
        padding: 20px;
    }
img {
        width: 90%;
        
    }
    .logo {
        display: flex;
        width:100;
    }
    
}

/*
 @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
/*@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
/*@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
/*@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
/*@media (min-width:1281px) { /* hi-res laptops and desktops */ 


